.main-row {
  display: flex;
  justify-content: space-between;
}

.main-row:first-child {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.main-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
