@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Ubuntu:wght@300;400;700&display=swap");
@import "reset.css";
@import "variable.css";

@import "mainscreen.css";

@import "css/login.css";
@import "css/clock.css";
@import "css/todo.css";
@import "css/image.css";
@import "css/playlist.css";

body {
  font-family: "Noto Sans KR", "Ubuntu", sans-serif;
  padding: 10px;
}

.hidden {
  display: none;
  visibility: hidden;
}
